<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div id="login">

    <form th:action="@{/j_spring_security_check}" method='post'>
        <h1>Đăng nhập vào trang web !</h1>

        <table border="1">
            <tr>
                <td>Tên tài khoản</td>
                <td><input type="text" name="j_username"></td>
            </tr>
            <tr>
                <td>Mật khẩu</td>
                <td><input type="password" name="j_password"></td>
            </tr>
            <tr>
                <td style="text-align: center" colspan="2"><input
                        type="submit" value="Đăng nhập"> <input type="reset"
                                                                value="Làm lại"></td>

            </tr>
            <div id="login1">
                <a href="#">Quên mật khẩu?</a> <a href="#">Đăng kí</a>
            </div>

        </table>
    </form>
</div>
</body>
</html>

